.interface {
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoArea {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 150px;
}
.imageArea {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.imageArea img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

.colorArea {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.editBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.storeText {
  width: 100%;
  text-align: start;
  margin: 10px 0px;
}

.pageTitle {
  font-size: 160%;
  margin: 10px 0px;
  color: var(--secondary-color);
  font-weight: bold;
}


.modalOverlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 90%;
  max-width: 450px;
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.2);
  overflow: hidden;
}

.modal h3 {
  margin-bottom: 10px;
}

.modal label {
  color: gray;
}

.colorPickerArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pickerColor {
  margin: 10px 0px;
}

.btnArea {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  margin: 10px 0px;
}

.nextBn {
   padding: 10px 20px;
   border-radius: 5px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
}
.backBtn {
 padding: 10px 20px;
   border-radius: 5px;
    border: none;
    background-color: rgb(202, 202, 202);
    color: white;
    margin: 0px 10px;
}
.saveBtnS {
 padding: 10px 20px;
   border-radius: 5px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
}
.btnAreaEnd {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cancelBtn {
  width: 80%;
  background-color: rgb(202, 202, 202);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.warningText {
  font-size: 14px;
  color: #a94442;
  background: #f2dede;
  padding: 10px;
  border-radius: 6px;
}
