
.productsInterface {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-top: 10px;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    min-height: 250px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 10px;
}

.Products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}


.productsTop {
    width: 97%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 10%;
}

.searchArea {
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    align-items: center;
    flex-direction: row;
    margin: 20px 0px;
    margin-bottom: 40px;
}

.searchArea input {
    background-color: rgb(223, 223, 223);
    border: none;
    outline: none;
    border-radius: 10px;
    height: 25px;
}

.searchArea select {
     background-color: rgb(223, 223, 223);
    border: none;
    outline: none;
    border-radius: 10px;
    color: gray;
    height: 35px;
}

.addingProducts {
    width: 35px;
    height: 35px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

@media (max-width: 1300px) { 
    .Products {
        justify-content: center;
    }

    .searchArea input {
   padding: 5px 5px;
    }

    .searchArea select {
  padding: 5px 5px;
    }
}