.base-colors-for-site {
   color: #43B5F4;
   color: #1C2230;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

/* Left icon (lock) */
.leftItem {
  left: 15px;
}

.rightSide {
  right: 15px;
  cursor: pointer;
}


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

.displayArea {
  padding-top: 70px;
  padding-bottom: 20px;
  width: 77.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
}

@media (max-width: 1300px) { 
    .displayArea {
      width: 97%;
      padding-right: 0px;
    }

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}
}